*,
*::before,
**::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.flex-col {
    flex-direction: column;
}